.cuadro-fondo {
  color: #ffffff;
  border-radius: 25px;
  width: 100%;
  margin-top: 50px;
  background-color: #2b2b2b;
}

.entradas {
  width: 100%;
  margin: 16px;
}

.entradas th,
.entradas td {
  padding: 10px;
  font-size: 16px;
  text-align: left;
}
.entradas th {
  font-size: 20px;
}
.boton-pagar {
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  background-color: #ff0044;
  font-weight: 600;
  width: 25%;
  margin: 16px;
}

.boton{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 1px solid #fff5;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;    
  width: 70%;
  height: 40px;
}

.boton span{
  font-size: 16px;
  font-weight: 700;
}


.price{
  font-weight: bold;
}