.detalles {
  align-items: center;
  color: #ffffff;
  font-weight: bold;
  width: 350px; /*100%;*/
  /*min-height: 520px;  match payment panel min-height */
  border-radius: 25px;
  /*display: flex;
  flex-direction: column;
  justify-content: flex-start;*/
} 

.detalles h1 {
  font-size: 24px;
  margin: 16px 0;
  text-align: center;
}
p {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 10px;
  text-align: justify;
}
img {
  width: 100%;
  /*max-width: 100%;*/
  margin: 0 auto;
  border-radius: 16px;
  object-fit: cover;
}
.detalles table {
  width: 100%;
  margin: 0 auto;
}
.detalles-funcion {
  text-align: left;
}
